{% extends 'base.html.twig' %}

{% block title %}Structures{% endblock %}

{% block body %}
    <h1>
        <picto class="structure-picto"></picto>
        Structures
    </h1>
    {% include 'partials/alphabetical_pager.html.twig' with { route: 'app_structure_index_page', 'active_letter': active_page, route_parameters: {} } %}
    {% include 'partials/enabled_disabled_all_filter.html.twig' with { route: 'app_structure_index_status', 'status': status, route_parameters: {} } %}
    <p>{{ structures|length }} structure{{ structures|length >1 ? "s":"" }}</p>
    {% if is_granted('ROLE_STRUCTURE_CREATE') %}
        <div class="col-6"><a href="{{ path('app_structure_new') }}" class="btn btn-primary btn-add btn-sm btn-add">ajouter</a></div>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Ville</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td class="{{ structure.enabled?"on":"off" }}"></td>
                <td>
                    {% if structure.nom %}
                        {{ structure.raisonSociale }} <span class="text-light">({{ structure.nom }})</span>
                    {% else %}
                        {{ structure.raisonSociale }}
                    {% endif %}
                </td>
                <td>{{ structure.commune }}</td>
                <td>
                    {% if is_granted('VIEW', structure) %}
                        <a href="{{ path('app_structure_show', {'id': structure.id}) }}" class="btn btn-primary btn-show btn-sm btn-show">voir</a>
                    {% endif %}
                </td>
                <td>
                    {% if structure.latitude %}
                        <i class="far fa-map" title="Géolocalisée"></i>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
