{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-primary btn-sm">enregistrer</button>
{% if export.id %}
    <a href="{{ path('app_export_show', {id: export.id}) }}" class="btn btn-sm btn-primary btn-back">retour</a>
{% else %}
    <a href="{{ path('app_export_index',) }}" class="btn btn-sm btn-primary btn-back">retour</a>
{% endif %}
{{ form_end(form) }}
