{% extends 'base.html.twig' %}

{% block title %}Exports par requête {% endblock %}

{% block body %}
    <h1>Exports par requête </h1>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Libellé</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody class="sortable-entity" data-url="{{ path('sortable_entity') }}" data-entity="App\Entity\Export">
        {% for export in exports %}
            <tr data-id="{{ export.id }}">
                <td class="handle"></td>
                <td class="{{ export.enabled?"on":"off" }}"></td>
                <td>{{ export.libelle }}</td>
                <td>
                    <a href="{{ path('app_export_show', {'id': export.id}) }}" class="btn btn-primary btn-sm btn-show">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a href="{{ path('app_export_new') }}" class="btn btn-primary btn-sm btn-add">ajouter</a>
    {% endif %}
{% endblock %}
