{% extends 'base.html.twig' %}

{% block title %}Métiers{% endblock %}

{% block body %}
    <h1>Métiers</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="sortable-entity" data-url="{{ path('sortable_entity') }}" data-entity="App\Entity\Metier">
        {% for metier in metiers %}
            <tr data-id="{{ metier.id }}">
                <td class="handle"></td>
                <td class="{{ metier.enabled?"on":"off" }}"></td>
                <td>{{ metier.libelle }}</td>
                <td>
                    <a href="{{ path('app_metier_show', {'id': metier.id}) }}" class="btn btn-primary btn-sm btn-show">voir</a>
                    <a href="{{ path('app_metier_edit', {'id': metier.id}) }}" class="btn btn-primary btn-sm btn-edit">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_metier_new') }}" class="btn btn-primary btn-sm btn-add">ajouter</a>
{% endblock %}
