{% extends 'base.html.twig' %}

{% block title %}Profils{% endblock %}

{% block body %}
    <h1>Profils</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="sortable-entity" data-url="{{ path('sortable_entity') }}" data-entity="App\Entity\Profil">
        {% for profil in profils %}
            <tr data-id="{{ profil.id }}">
                <td class="handle"></td>
                <td>{{ profil.libelle }}</td>
                <td>
                    <a href="{{ path('app_profil_show', {'id': profil.id}) }}" class="btn btn-primary btn-sm btn-show">voir</a>
                    <a href="{{ path('app_profil_edit', {'id': profil.id}) }}" class="btn btn-primary btn-sm btn-edit">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profil_new') }}" class="btn btn-primary btn-sm btn-add">ajouter</a>
{% endblock %}
