{# parametres à passer : route, route_parameters, active_letter #}
<div class="btn-group mb-3  d-flex flex-wrap">
    {% for month in 1..12 %}
        {% set route_parameters_page= route_parameters|merge({'month': month, 'year': yearMonth.year}) %}
        <a href="{{ path(route, route_parameters_page) }}"
           class="btn btn-sm btn-outline-primary flex-grow-1 flex-basis-auto text-center  {{ month == yearMonth.month ?'active' }}"
           style="min-width: 30px; max-width: 30px;"
           aria-current="page">{{ month }}</a>
    {% endfor %}
    {% set route_parameters_page= route_parameters|merge({'month': -1, 'year': yearMonth.year}) %}
    <a href="{{ path(route, route_parameters_page) }}"
       class="btn btn-sm btn-outline-primary flex-grow-1 flex-basis-auto text-center {{ -1 == yearMonth.month ?'active' }}"
       style="min-width: 30px; max-width: 30px;"
       aria-current="page" title="tous les mois de l'année">%</a>

    {% set route_parameters_page= route_parameters|merge({'month': 0, 'year': 0 }) %}

    <a href="{{ path(route, route_parameters_page) }}"
       class="btn btn-sm btn-outline-primary flex-grow-1 flex-basis-auto text-center {{ -1 == yearMonth.month ?'active' }}"
       style="min-width: 5em; max-width: 7em;"
       aria-current="page">Aujourd'hui</a>

    {% for i in -1..1 %}
        {% set route_parameters_page= route_parameters|merge({'month': yearMonth.month, 'year': yearMonth.year+i}) %}
        <a href="{{ path(route, route_parameters_page) }}"
           class="btn btn-sm btn-outline-primary flex-grow-1 flex-basis-auto text-center {{ i == 0 ?'active' }}"
           style="min-width: 3em; max-width: 5em;"

           aria-current="page">{{ yearMonth.year+i }}</a>
    {% endfor %}
</div>