{% extends 'base.html.twig' %}

{% block title %}{{ artiste }}{% endblock %}

{% block body %}

    <h1>
        <picto class="artiste-picto"></picto>
        Artiste <span>{{ artiste }}</span></h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-artiste-tab" data-bs-toggle="tab" data-bs-target="#nav-artiste" type="button" role="tab" aria-controls="nav-artiste" aria-selected="true">
                Artiste
            </button>

            {% if artiste.longitude or artiste.latitude %}
                <button class="nav-link" id="nav-map-tab" data-bs-toggle="tab" data-bs-target="#nav-map" type="button" role="tab" aria-controls="nav-map" aria-selected="false">
                    Carte
                </button>
            {% endif %}

            <button class="nav-link" id="nav-personnes-tab" data-bs-toggle="tab" data-bs-target="#nav-personnes" type="button" role="tab" aria-controls="nav-personnes" aria-selected="false">
                Personnes
            </button>

        </div>
    </nav>
    <div class="tab-content mt-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-artiste" role="tabpanel" aria-labelledby="nav-personne-tab" tabindex="0">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ artiste.nom }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>
                        {{ artiste.adresse | nl2br }}<br>
                        {{ artiste.codePostal }} {{ artiste.commune }}<br/>
                        {{ artiste.pays }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ artiste.description | nl2br }}</td>
                </tr>
                <tr>
                    <th>Tarif indicatif</th>
                    <td>{{ artiste.tarif }}<br/>{{ artiste.commentaireTarif | nl2br }}</td>
                </tr>
                <tr>
                    <th>Tags</th>
                    <td>{{ artiste.tags | join(', ') }}</td>
                </tr>
                <tr>
                    <th>Coordonnées GPS</th>
                    <td>{{ artiste.latitude }} ; {{ artiste.longitude }}</td>
                </tr>
                <tr>
                    <th>Score géocodage</th>
                    <td>{{ artiste.scoreGeocode }}</td>
                </tr>
                <tr>
                    <th>Création</th>
                    <td>{{ artiste.createdByAt }}</td>
                </tr>
                <tr>
                    <th>Dernière modification</th>
                    <td>{{ artiste.updatedByAt }}</td>
                </tr>

                <tr>
                    <th>Id</th>
                    <td>{{ artiste.id }}</td>
                </tr>
                </tbody>
            </table>

            {% if is_granted('EDIT', artiste) %}
                <a href="{{ path('app_artiste_edit', {'id': artiste.id}) }}" class="btn btn-sm btn-primary btn-edit">modifier</a>
                <a href="{{ path('app_artiste_geocode', {'id': artiste.id}) }}" class="btn btn-sm btn-primary btn-geo">géocoder</a>
            {% endif %}

            {{ include('artiste/_delete_form.html.twig') }}
        </div>

        {% if artiste.longitude or artiste.latitude %}
            <div class="tab-pane fade" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab" tabindex="0">
                <div id="map"></div>
            </div>
        {% endif %}

        <div class="tab-pane fade" id="nav-personnes" role="tabpanel" aria-labelledby="nav-personnes-tab" tabindex="0">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Fonction</th>
                    <th>Email</th>
                    <th>Tél. mob</th>
                    <th>Tél. fixe</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for personne in artiste.personnes %}
                    <tr>
                        <td>
                            {% if is_granted('VIEW', personne) %}
                                <a href="{{ path('app_personne_show', {id: personne.id }) }}">{{ personne.nom }} {{ personne.prenom }}</a>
                            {% else %}
                                {{ personne.nom }} {{ personne.prenom }}
                            {% endif %}
                        </td>
                        <td>{{ personne.fonction }}</td>
                        <td>{{ personne.email }}</td>
                        <td>{{ personne.telephoneMobile }}</td>
                        <td>{{ personne.telephoneFixe }}</td>
                        <td>
                            {% if is_granted('EDIT', artiste) %}
                                <a href="{{ path('app_artiste_remove_personne', {artiste: artiste.id, personne: personne.id}) }}"
                                   class="btn btn-sm btn-delete btn-danger"
                                   onClick="return(confirm('Supprimer le lien entre la personne et l\'artiste ?'))"
                                >suppr. lien</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('EDIT', artiste) %}
                <div class="mt-5">
                    <div class="autocomplete">
                        <label for="personne-autocomplete">Ajouter une personne : </label>
                        <input type="text" class="form-control" placeholder="saisissez un nom" id="personne-autocomplete" data-value="" data-url="{{ path('app_artiste_personne_autocomplete') }}"/>
                        <form action="{{ path('app_artiste_add_personne') }}" method="post" id="formAddPersonne">
                            <input type="hidden" name="artiste" value="{{ artiste.id }}">
                            <input type="hidden" id='inputAddPersonne' name="personne" value="">
                        </form>
                    </div>
                </div>
                <small class="info">La personne doit préalablement avoir été créée <br/> dans l'onglet "Personne" </small>
            {% endif %}
        </div>

    </div>


    <div class="mt-5">
        {% if is_granted('ROLE_ARTISTE_VIEW') %}
            <a href="{{ path('app_artiste_index') }}" class="btn btn-sm btn-primary btn-back">retour</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import {FrontAutoComplete} from 'frontTools';

        document.addEventListener('DOMContentLoaded', function () {
            const a = new FrontAutoComplete('personne-autocomplete', function (id) {
                document.getElementById('inputAddPersonne').value = id;
                document.getElementById('formAddPersonne').submit();
            }, 2, 500);



            {% if app.request.query.get('tab') is not null %}
            let tab = document.getElementById("nav-{{ app.request.query.get('tab') }}-tab");
            if (tab) {
                tab.click()
            }
            {% endif %}


            {% if artiste.longitude or artiste.latitude %}
            var icon = L.icon({iconUrl: '/marker-icon.png', iconSize: [25, 41], iconAnchor: [12, 41]});
            var map = L.map('map').setView([{{ artiste.latitude }}, {{ artiste.longitude }} ], 13);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([{{ artiste.latitude }}, {{ artiste.longitude }}], {icon: icon}).addTo(map).bindPopup('{{ artiste }}')
            document.getElementById('nav-map-tab').addEventListener('click', function () {
                setTimeout(function () {
                    map.invalidateSize();
                }, 500);
            })

            setTimeout(function () {
                map.invalidateSize();
            }, 500);
            {% endif %}
        });
    </script>
{% endblock %}
