{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-primary btn-sm">enregistrer</button>
{% if tag.id %}
    <a href="{{ path('app_tag_show', {id: tag.id}) }}" class="btn btn-sm btn-primary btn-back">retour</a>
{% else %}
    <a href="{{ path('app_tag_index',{ tab: tag.type }) }}" class="btn btn-sm btn-primary btn-back">retour</a>
{% endif %}
{{ form_end(form) }}
