<div class="col">
    {% if is_granted('VIEW',note) %}
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-7">{{ note.auteur }}</div>
                    <div class="col-5 text-right">
                        <small>
                            {{ note.createdAt.format('d/m/Y H:i') }}
                            {% if note.updatedAt and note.createdAt != note.updatedAt %}
                                <br/>modif: {{ note.updatedAt.format('d/m/Y H:i') }}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">{{ note.texte|nl2br }}</p>
            </div>
            <div class="card-body card-border-top">
                <div class="row">
                    <div class="col-6">
                        {{ note.personnes | join(',') }}
                    </div>
                    <div class="col-6">
                        {{ note.structures | join(',') }}
                    </div>
                </div>
            </div>
            {% if is_granted('EDIT', note) %}
                <div class="card-footer">
                    <a href="{{ path('app_note_edit', {id: note.id}) }}" class="btn btn-sm btn-secondary btn-edit">Modifier</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>