{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>Services</h1>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Libellé</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="sortable-entity" data-url="{{ path('sortable_entity') }}" data-entity="App\Entity\Service">
        {% for service in services %}
            <tr data-id="{{ service.id }}">
                <td class="handle"></td>
                <td class="{{ service.enabled?"on":"off" }}"></td>
                <td>{{ service.libelle }}</td>
                <td>
                    <a href="{{ path('app_service_show', {'id': service.id}) }}" class="btn btn-primary btn-sm btn-show">voir</a>
                    <a href="{{ path('app_service_edit', {'id': service.id}) }}" class="btn btn-primary btn-sm btn-edit">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_service_new') }}" class="btn btn-primary btn-sm btn-add">ajouter</a>
{% endblock %}
