{% extends 'base.html.twig' %}

{% block title %}Carte des artistes{% endblock %}

{% block body %}

    <h1>
        <picto class="artiste-picto"></picto>
        Artistes
    </h1>
    <div id="map"></div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="module">

        document.addEventListener("DOMContentLoaded", function (event) {

            var icon = L.icon({iconUrl: '/marker-icon.png', iconSize: [25, 41], iconAnchor: [12, 41]});
            var map = L.map('map').setView([{{ structure.longitude }}, {{ structure.latitude }} ], 13);


            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([{{ structure.longitude }}, {{ structure.latitude }}], {icon: icon}).addTo(map).bindPopup('{{ structure }}')
            document.getElementById('nav-map-tab').addEventListener('click', function () {
                setTimeout(function () {
                    map.invalidateSize();
                }, 500);
            })

            setTimeout(function () {
                map.invalidateSize();
            }, 500);
        });


    </script>
{% endblock %}