{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-primary btn-sm">enregistrer</button>
{% if departementDomaine.id %}
    <a href="{{ path('app_departementDomaine_show', {id: departementDomaine.id}) }}" class="btn btn-sm btn-primary btn-back">retour</a>
{% else %}
    <a href="{{ path('app_departementDomaine_index',) }}" class="btn btn-sm btn-primary btn-back">retour</a>
{% endif %}
{{ form_end(form) }}
